<div
  class="modal fade"
  id="addCategoryModal"
  tabindex="-1"
  aria-labelledby="addCategoryModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Add New Category</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/admin/category-management/add" method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Category Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="image_url" class="form-label">Image URL</label>
            <input
              type="text"
              name="image_url"
              id="image_url"
              class="form-control"
              required
            />
          </div>

          <div class="mb-3">
            <label for="tag_color" class="form-label">Tag Color</label>
            <input
              type="color"
              name="tag_color"
              id="tag_color"
              class="form-control"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary">Add Category</button>
        </form>
      </div>
    </div>
  </div>
</div>
