<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/admin.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/navbar') %> <% if (!isAdmin) { %>

    <!-- admin login -->
    <div class="admin-container">
      <h1 class="admin-title">Admin Login</h1>
      <% if (typeof message !== 'undefined') { %>
      <div class="alert alert-danger mt-5"><%= message %></div>
      <% } %>
      <div class="my-5 card shadow admin-login-card">
        <div class="card-body">
          <form action="/admin/login" method="POST" class="admin-login-form">
            <label for="password" class="admin-login-form-label"
              >Password</label
            >
            <input
              type="password"
              name="password"
              id="password"
              class="admin-login-form-input"
              required
            />
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
        </div>
      </div>
    </div>

    <% } else { %>

    <!-- admin dashboard -->
    <div class="container my-5">
      <h1>Admin Dashboard</h1>

      <!-- nav tabs -->
      <ul class="nav nav-tabs" id="adminTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="category-tab"
            data-bs-toggle="tab"
            data-bs-target="#category"
            type="button"
            role="tab"
            aria-controls="category"
            aria-selected="true"
          >
            Manage Categories
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="item-tab"
            data-bs-toggle="tab"
            data-bs-target="#item"
            type="button"
            role="tab"
            aria-controls="item"
            aria-selected="false"
          >
            Manage Items
          </button>
        </li>
      </ul>

      <!-- tab content -->
      <div class="tab-content mt-4" id="adminTabContent">
        <!-- category management -->
        <div
          class="tab-pane fade show active"
          id="category"
          role="tabpanel"
          aria-labelledby="category-tab"
        >
          <div id="category-content"></div>
        </div>

        <!-- item management -->
        <div
          class="tab-pane fade"
          id="item"
          role="tabpanel"
          aria-labelledby="item-tab"
        >
          <div id="item-content"></div>
        </div>
      </div>
    </div>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      $(document).ready(function () {
        // helper function - clean up modal backdrops
        function cleanUpModalBackdrops() {
          $(".modal-backdrop").remove();
        }

        // Function to dynamically load and unload stylesheets
        function switchStylesheet(newStylesheetId, newStylesheetHref) {
          console.log(
            `Removing previous stylesheet: ${$(
              "link[id$='-management-styles']"
            ).attr("id")}`
          );
          // Remove the current stylesheet if it exists
          $("link[id$='-management-styles']").remove();
          console.log(
            `Loading new stylesheet: ${newStylesheetId} - ${newStylesheetHref}`
          );

          // Append the new stylesheet
          $("head").append(
            `<link id="${newStylesheetId}" rel="stylesheet" href="${newStylesheetHref}" />`
          );
        }

        // Load category management by default and apply its styles
        $("#category-content").load("/category-management", function () {
          cleanUpModalBackdrops();
          switchStylesheet(
            "category-management-styles",
            "/css/categoryManagement.css"
          );
        });

        // Handle switch to item management
        $("#item-tab").on("click", function () {
          cleanUpModalBackdrops();
          $("#item-content").load("/item-management", function () {
            cleanUpModalBackdrops();
            switchStylesheet(
              "item-management-styles",
              "/css/itemManagement.css"
            );
          });
        });

        // Handle switch to category management
        $("#category-tab").on("click", function () {
          cleanUpModalBackdrops();
          $("#category-content").load("/category-management", function () {
            cleanUpModalBackdrops();
            switchStylesheet(
              "category-management-styles",
              "/css/categoryManagement.css"
            );
          });
        });

        // Listen to modal show and hide events to clean up modal backdrops
        $(document).on("show.bs.modal", function () {
          cleanUpModalBackdrops();
        });

        $(document).on("hidden.bs.modal", function () {
          cleanUpModalBackdrops();
        });
      });
    </script>
  </body>
</html>
