<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Sneaker Management</a>
        <!-- toggler -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/categories">Categories</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/items">Items</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/category-management"
                >Manage Categories</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/item-management">Manage Items</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="home-page-main-content container-fluid d-flex">
      <div class="text-center">
        <h1><%= title %></h1>
        <a href="/category-management" class="btn btn-primary my-2"
          >Manage Categories</a
        >
        <a href="/item-management" class="btn btn-secondary my-2"
          >Manage Items</a
        >
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
