<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/item.css" />
    <link rel="stylesheet" href="/css/itemManagement.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container d-flex flex-column justify-content-center">
      <!-- Add New Item -->
      <div class="d-flex justify-content-center">
        <button
          type="button"
          id="add-item-form"
          class="btn btn-success my-5"
          data-bs-toggle="modal"
          data-bs-target="#addItemModal"
        >
          Add New Item
        </button>
      </div>

      <!-- Search Form -->
      <div class="d-flex justify-content-center">
        <div class="card shadow my-3 search-card">
          <div class="card-body">
            <h5 class="card-title">Search for Items</h5>
            <form
              id="searchForm"
              action="/admin/item-management/search"
              method="GET"
              class="row g-3"
            >
              <div class="col-12 col-md-8">
                <input
                  type="text"
                  name="search"
                  id="search"
                  placeholder="Search..."
                  class="form-control"
                />
              </div>
              <div class="col-12 col-md-4">
                <button type="submit" class="btn btn-primary w-100">
                  Search
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- add modal -->
      <%- include('partials/addItemModal') %>

      <!-- Items Display -->
      <div class="container my-5" id="itemsContainer">
        <!-- rendered cards -->
      </div>

      <!-- Logout Button -->
      <div class="d-flex justify-content-center">
        <a href="/admin/logout" class="btn btn-outline-danger mt-2 mb-5"
          >Logout</a
        >
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
