/* lifestyle & running can be removed when image property is added to db */
.lifestyle-card {
  background-image: url("https://images.unsplash.com/photo-1721983031356-4b82827527e8?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.running-card {
  background-image: url("https://static.nike.com/a/images/f_auto/dpr_2.0,cs_srgb/h_775,c_limit/52e409b4-9c3a-418c-ad86-e319498630f0/how-to-choose-running-shoes.jpg");
}

.category-card {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.category-card:hover {
  transform: scale(1.01);
}

.category-card .card-body {
  padding: 20px;
  z-index: 2;
}

.category-card .card-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.category-card .card-text {
  font-size: 1rem;
  color: white;
}
