/* .item-management-container .item-card {
  border: none;
  border-radius: 12px;
  min-height: 250px;
}

.item-management-container .search-card {
  border-radius: 12px;
  min-height: fit-content;
  width: 80%;
}

.search-card:hover {
  transform: scale(1);
}

.search-card .card-title {
  font-weight: 500;
}

@media screen and (min-width: 567px) {
  .item-management-container .search-card {
    width: auto;
  }
} */
